<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paymayanexgen_payment>
                <active>1</active>
                <paymaya_test_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <paymaya_live_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <title>PayMaya - Credit Card</title>

                <model>PayMayaNexGenFacade</model>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <currency>PHP</currency>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>paymayanexgen</group>
            </paymayanexgen_payment>
        </payment>
    </default>
</config>
