<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="paymaya_webhook_event">
        <observer
            name="paymaya_webhook_event"
            instance="PayMaya\Payment\Observer\WebhooksObserver"
        />
    </event>
    <event name="paymaya_payment_webhook_event">
        <observer
            name="paymaya_payment_webhook_event"
            instance="PayMaya\Payment\Observer\PaymentWebhookObserver"
        />
    </event>
</config>
